@font-face {
    font-family: 'Futura Light';
    src: url("../fonts/futuralightc.otf");
}
@font-face {
    font-family: 'Futura Bold';
    src: url("../fonts/futurabold2.otf");
}
@font-face {
    font-family: 'Futura Book';
    src: url("../fonts/futurabookc.otf");
}

@font-face {
    font-family: 'Futura Demi';
    src: url("../fonts/futurademic.otf");
}

@font-face {
    font-family: 'Katherine Plus';
    src: url("../fonts/Katherine.otf");
}

* {
    box-sizing: border-box;
}

body {
    /*font-family: ;*/
}

section {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*Common content*/
.section-title {
    font-size: 75px;
    font-family: 'Futura Book';
    margin: 100px 0 85px 0;
}

/*end of common content*/

/*Taras styles //////////////////////////////////////////////*/

.section {
    width: 100%;
    display: flex;
}
/*header style ///////////////////////////////////*/

.main-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: fixed;
    font-family: 'Futura Book';
    font-weight: 600;
    color: #000;
    z-index: 10;
    max-width: inherit;
}

.nav-header {
    width: 470px;
}

.small-logo-img {
    width: 82px;
    height: 70px;
    margin-left: 50px;
}

.nav-header li {
    display: inline-block;
    margin-left: 50px;
    font-size: 16px;
    text-transform: uppercase;

}

.nav-header a:active,
.nav-header a:visited,
.nav-header a:link {
    color: #000;
}

.nav-header a:hover {
    border-bottom: 2px solid #000;
}

.contact-tel {
    min-width: 177px;
    font-size: 20px;
 }

.btn-primary {
    width: 350px;
    height: 45px;
    background-color: #395763;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}

.small-container-header {
    display: flex;
    align-items: center;
}

.contact-tel {
    margin: 0 80px 0 35px;
}

/* home  section style ///////////////////////////////////*/


.home-section {
    height: 100vh;
    background: #f3f7fa url(../imgs/main_background.png) center no-repeat;
    background-size: cover;
    align-items: center;

}

.home-section-container {
    height: 415px;
    margin: 0 auto 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-h1 {
    font-family: 'Futura Book';
    font-size: 80px;
    margin-left: 20px;

}

.home-h1-container {
    width: 562px;
    height: 154px;
}

.main-logo-img {
    width: 562px;
    height: 154px;
}

/*about-us-section style ///////////////////////////////////*/

.about-us-section {
    height: 700px;
    margin-top: 100px;
    background-color: #fff;
    align-items: center;
    position: relative;
}

.about-us-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 0;
}
.left-side-about-us-bg {
    width: 58%;
    height: 100%;
    background-color: #f3f7fa;
}

.right-side-about-us-bg {
    width: 35%;
    height: 100%;
}
.about-us-container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.left-side-about-us-container {
    width: 65%;
    height: 100%;
    background-color: #f3f7fa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    overflow: hidden;
}

.indicators {
    width: 650px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #cedfdf;
    padding-bottom: 50px;
}

.indicators div {
    font-family: 'Futura Bold';
    /*font-weight: 700;*/
    color: #000;
    font-size: 54px;
    font-weight: 500;
}

.indicators span {
    font-family: "Futura Light";
    color: #555454;
    font-size: 20px;
}

.indicators sup,
.company-slogan sup {
    vertical-align: super;
    font-size: 12px;

}

.company-info-header {
    font-family: "Futura Book";
    font-size: 38px;
    margin-top: -150px;
}

.company-slogan {
    margin: 5% 0;
    padding-right: 250px;
    font-family: 'Futura Light';
    color: #555;
    font-size: 24px;
    line-height: 35px;
}

.company-info {
    width: 700px;
    margin-top: 85px;
}

.right-side-about-us-container {
    width: 35%;
    height: 100%;
    position: relative;
}

.about-us-img {
    width: 420px;
    height: 440px;
    position: absolute;
    z-index: 1;
}

.years-of-existence {
    width: 420px;
    height: 260px;
    position: absolute;
    bottom: 0;
}

.small-number {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-family: 'Futura Bold';
    font-size: 64px;
    font-weight: 500;
}

.big-number {
    position: absolute;
    top: 3%;
    left: 25%;
    font-family: 'Futura Bold';
    color: #f3f7fa;
    font-size: 250px;
    font-weight: 700;
}

.caption-number {
    position: absolute;
    top: 65%;
    left: 12%;
    font-family: 'Futura Light';
    color: #555;
    font-size: 26px;
}

.about-us-pattern {
    position: absolute;
    right: 0;
    top: 10%;
    width: 450px;
    height: 200px;
    background: url(../imgs/points_pattern.png) right repeat;
    z-index: 0;
}

/*our-partner-section style ///////////////////////////////////*/

.our-partner-section {
    height: 900px;
    position: relative;
}

.our-partner-section-bg-h {
    position: absolute;
    width: 80%;
    height: 160px;
    top: 440px;
    background: url(../imgs/points_pattern.png) repeat;
    z-index: -1;

}

.our-partner-section-bg-v {
    position: absolute;
    width: 12%;
    height: 800px;
    left: 1020px;
    top: 49%;
    background: url(../imgs/points_pattern.png) repeat;
    z-index: -1;
}

.partner-card {
    background-color: #6ba2b8;
    width: 25%;
    height: 500px;
    margin-left: 75px;
}

.partner-card:nth-child(2) {
    margin-left: 0;
}

.partner-card:nth-child(3) {
    background-color: #537d8e;
  }

.partner-card:nth-child(4) {
    background-color: #395763;    
}

.partner-card:nth-child(5) {
    background-color: #203137;    
}

.our-partner-container {
    font-family: 'Futura Book';
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}

.parner-cards-container {
    display: flex;
    z-index: 1;
    text-align: center;
    position: relative;
}

.partner-img {
    width: 100%;
}

.partner-info h3 {
    margin: 15px auto;
    font-family: 'Futura Demi';
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.services-for-partner {
    font-family: 'Futura Book';
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}

/*Rodion styles //////////////////////////////////////////////////////////////////////////*/
.our-offers-section {
    background: url("../imgs/offers-section.png") bottom right no-repeat;
    height: 850px;
    z-index: 1;
    position: relative;
    /*test size*/
}

.our-offers-directions {
    width: 68%;
    background-color: #f3f7fa;
    display: flex;
    align-items: flex-start;
    padding: 65px 10px 65px 40px;
}

.our-offers-direction {
    border-right: 1px solid #b3dbd2;
    margin-right: 20px;
}

.our-offers-directions h3 {
    font-size: 30px;
    font-family: 'Futura Demi';
    line-height: 110%;
    margin-bottom: 80px;
}

.our-offers-directions p {
    font-family: 'Futura Light';
    line-height: 180%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
}

.our-offers-directions ul {
    list-style-type: disc;
    font-size: 16px;
    margin-left: 15px;
    color: #686969;
    line-height: 130%;
    white-space: nowrap;
    margin-bottom: 60px;
}

.our-offers-directions li {
    font-family: 'Futura Light';
}

.our-offers-directions a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Futura Book';
    padding: 3px 12px;
    background-color: #6ba2b8;
}

.advantages-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.advantage-card {
    ;
    width: 370px;
    margin: 50px 15px;
}

.advantage-card h3 {
    font-family: 'Futura Book';
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 50px 0;
}

.advantage-card p {
    font-family: "Futura Light";
    font-size: 24px;
    line-height: 130%;
}

/*slider content*/
.partners-slider-images {
    display: flex;
    justify-content: space-between;
}

.left-img-slider {
    flex: 1 58%;
    position: relative;
    margin-right: 25px;
}

.right-img-slider {
    flex: 1 38%;
    position: relative;
}

.left-img-slider-img,
.right-img-slider-img {
    max-width: 100%;
    height: 465px;
}

.activeImg {
    display: block;
}

/*Slider image captions*/
.slider-caption {
    position: absolute;
    font-family: "Futura Book";
    color: #fff;
    bottom: 40px;
    left: 40px;
}

.slider-caption h3 {
    font-size: 40px;
}

.slider-caption span {
    font-size: 20px;
}

.img-slider-navigator {
    position: relative;
}
.numbers{
    position: relative;
}
.img-slider-navigator-number {
    font-size: 10px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: -85px;
    right: 98px;
    color: #9d9d9d;
}

.img-slider-navigator-number-01 {
    bottom: -62px;
}
.active-slider-number{
    color: #000;
}
.prev,
.next {
    display: inline-block;
    position: absolute;
    bottom: -90px;
    right: 0;
    margin-top: 20px;
    padding: 5px 8px;
    border: 2px solid #9d9d9d;
    color: #9d9d9d;
    font-size: 30px;
    cursor: pointer;
}

.prev {
    right: 46px;
}

.active-nav-button {
    border: 2px solid #000;
    color: #000;
}

/*End of images slider-content*/

/*Feedback sliders*/
.feedback-section {
    background: url("../imgs/pattern-feedback.png") repeat;
    max-height: 214px;
    margin-bottom: 300px;
    margin-top: 220px;
}

.feedback-slider-content {
    max-width: 45%;
    margin: 0 auto;
    background-color: #fff;
    height: 184px;
    /*z-index: 10;*/
    padding: 0 120px;

}

.feedback-slider {
    /*display: none;*/
}

.feedback-slider-active {
    display: block;
}

.feedback-slider p {
    font-size: 16px;
    color: #6f6f6f;
    line-height: 180%;
    font-family: "Myriad Pro";
}

.feedback-slider-caption {
    margin-top: 30px;
}

.feedbacker-name {
    display: inline-block;
    font-family: 'Katherine Plus';
    font-size: 28px;
    padding-left: 20px;
}

.feedbacker-status {
    font-family: "Myriad Pro";
    margin: 7px 0 0 85px;
}

.feedback-navagation-dots {
    margin: 80px auto;
    width: 100px;
}

.dot {
    margin: 0 3px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
    cursor: pointer;
}

.active-dot {
    background-color: #d7dadb;
}


/*contacts section*/
.contacts-section {
    background-color: #f3f7fa;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.contacts > div {
    margin-top: 200px;
}

form {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.guest-input input {
    width: 480px;
    height: 50px;
    font-size: 17px;
    margin: 5px 0 20px 0;
    border: none;
    outline: none;
    padding: 10px;
}

.guest-input textarea {
    width: 480px;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin: 5px 0 20px 0;
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
}

.guest-input input:focus,
textarea:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.guest-input input[type='submit'] {
    width: 350px;
    margin: 50px 0 200px 0;
}

/*our contacts*/
.contact-us {
    font-family: "Futura Book";
}

.contact-us h3 {
    font-size: 40px;
    margin: 15px 0 48px 0;
}

.contact-us h4 {
    font-size: 30px;
    line-height: 145%;
    margin-bottom: 80px;
}

.contact-us p {
    font-size: 24px;
    line-height: 125%;
    margin-bottom: 80px;
}

.contact-us img {
    padding: 18px 15px 0 0;
    cursor: pointer;
}

/*end of contact section*/

footer {
    background-color: #203137;
    text-align: center;
}

.footer-logo {
    padding: 50px;
}
